<div class="dialog">
  <h2>Crear carpeta nueva</h2>
  <form (ngSubmit)="this.onSubmit()" class="example-form">
    <mat-form-field class="form-control" appearance="fill">
      <mat-label>Nombre de la carpeta</mat-label>
      <input name="directoryName" [(ngModel)]="this.directoryName" matInput />
      <mat-error *ngIf="directoryNameFormControl.hasError('required')">
        Nombre del directorio es <strong>requerido</strong>
      </mat-error>
    </mat-form-field>
    <button type="submit" class="submit-btn" mat-flat-button color="primary">
      Crear carpeta
    </button>
  </form>
</div>
